footer {
    background-color: $fondSombre;    
    & > *{
        padding:1rem;
        margin:0;
    }
    h4 {
        font-family : 'Shrikhand', cursif ;
        color:white;
        text-align: left;
        
        
    }

    ul {
         list-style-type: none;
         color: white;
         
    }

    i{
        width:2rem;
    }
    a{
        text-decoration: none;
        color:inherit;
    }
}