article.plat {
  height: 68px;
  display: flex;
  margin: auto;
  background-color:white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  @include shadow;
  
  div {
    width:100%;
    line-height:70%;
  }
  
  price {
    display: flex;
    width: 3rem;
  }
  aside {
    width: 0;
    overflow-x: hidden;
    transition: width 1s;
    background-color: $tertiaire;
  }
  &:hover {
    aside {
      width: 2rem;
    }
  }
}
