<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oh my food | À la française</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="menu">
        <%- include('../composants/header_menu.html'); %>
        <img src="./images/restaurants/a_la_française.jpg" alt="photo d'illustration">
        <main>
        <h1 class="coeur"> À la française </h1>
        <section>
            <h2>Entrées</h2>
            <%- include("../composants/plat.html", {
                "titre" : "Tartare de poulpe acidulé",
                "ingredients": "Aux zestes d'orange",
                "prix" : "25€"
            }); %>
            
            
            <%- include("../composants/plat.html", {
                "titre" : "Velouté de légumes d'antan",
                "ingredients": "Carotte, panais, topinambour",
                "prix" : "35€"
            }); %>

            <%- include("../composants/plat.html", {
                "titre" : "Soupe à l'oignon",
                "ingredients": "Revisitée",
                "prix" : "20€"
            }); %>

           
        </section>

        <section>
            <h2>Plats</h2>
            <%- include("../composants/plat.html", {
                "titre" : "Coquilles Saint-Jacques",
                "ingredients": "Accompagnées d'une purée de panais",
                "prix" : "40€"
            }); %>
            
            <%- include("../composants/plat.html", {
                "titre" : "Magret de canard",
                "ingredients": "Et parmentier de pommes de terre",
                "prix" : "35€"
            }); %>
            
            <%- include("../composants/plat.html", {
                "titre" : "Pigeonneau d’Ille-et-Vilaine",
                "ingredients": "Sur son lit de gnocchis aux légumes",
                "prix" : "44€"
            }); %>
        </section>
        <section>
            <h2>Desserts</h2>
            
            <%- include("../composants/plat.html", {
                "titre" : "Pétales de violettes glacés",
                "ingredients": "Et purée de noisettes",
                "prix" : "18€"
            }); %>
            <%- include("../composants/plat.html", {
                "titre" : "Fondant au chocolat",
                "ingredients": "Revisité",
                "prix" : "22€"
            }); %>
            <%- include("../composants/plat.html", {
                "titre" : "Millefeuille croustillant ",
                "ingredients": "Myrtilles et pâte d’amande",
                "prix" : "23€"
            }); %>



        </section>
        <%- include('../composants/bouton.html', {texte:"Commander"});  %>
    </main>
    <%- include("../composants/footer.html"); %>
</body>
</html>


