body.index {
  border: 1px solid;
  margin: auto;

  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      background-color: $fondClair;
      height: 3rem;
      border-radius: 1rem;
      display:flex;
      align-items: center;
      width:80%;
      margin: .5rem auto;
      &:before{
          @include flexCentered;
          height:2rem;
          width:2rem;
          border-radius: 50%;
          background-color: red;
          margin-left:-1rem;
          margin-right:1rem;
      }
      
      @for $i from 1 through 3 {
        &:nth-child(#{$i}):before {
            content:"#{$i}"
        }
      }

      
      &:hover {
        background-color: lighten($primaire, 30%);
      }
    }
  }

  h1,
  h3 {
    text-align: center;
  }
}
