body.index{
    max-width: 360px;
    height: 260rem;
    border: 1px solid;
    margin: auto;


    li{
        background-color: $fondClair;
        border-radius:.5rem;
        &:hover{
            background-color: lighten($primaire, 30%);

        }
    }

}