body.index {
  border: 1px solid;
  margin: auto;

  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      background-color: $fondClair;
      height: 3rem;
      border-radius: 1rem;
      display:flex;
      align-items: center;
      width:80%;
      margin: 1rem auto;
      cursor: pointer;
      @include shadow;
      @include transition;
      &:before{
          @include flexCentered;
          height:2rem;
          width:2rem;
          border-radius: 50%;
          background-color:  $primaire;
          color:white;
          margin-left:-1rem;
          margin-right:1rem;
      }
      
      @for $i from 1 through 3 {
        &:nth-child(#{$i}):before {
            content:"#{$i}"
        }
      }

      
      &:hover {
        background-color: lighten($primaire, 30%);
        i{
          color: $primaire;
        }
      }
    }
    i{
      color:$fondTresMoyen;
      margin-right:1rem;
    }
  }

  h1,
  h3,p {
    text-align: center;
  }

  section{
    padding-bottom: 1rem;
  }
  section:first-of-type{
    background-color: $fondClair;
  }

  h2{
    margin-left: 1rem;
  }

  h3 i{
    margin-right: 1rem;
  }

  header{
    box-shadow: 0 1px 4px black;
    margin-bottom: 2px;
  }

}
