<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oh my food | la palette du goût</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="menu">
        <%- include('../composants/header_menu.html'); %>
        <img src="./images/restaurants/la_palette_du_gout.jpg" alt="photo d'illustration">
        <main>
            <h1  class="coeur"> La palette du gout </h1>
        <section>
            <h2>Entrées</h2>
            <%- include("../composants/plat.html", {
                "titre" : "Fricassé d'escargot",
                "ingredients": "Au pimet d'espelette",
                "prix" : "25€"
            }); %>
            
            
            <%- include("../composants/plat.html", {
                "titre" : "Foie gras de canard mi-cuit",
                "ingredients": "Et ses copeaux de truffe noire",
                "prix" : "35€"
            }); %>

            <%- include("../composants/plat.html", {
                "titre" : "Oeuf au plat",
                "ingredients": "Assaisonné à la truffe sur le lit de caviar",
                "prix" : "20€"
            }); %>

           
        </section>

        <section>
            <h2>Plats</h2>
            <%- include("../composants/plat.html", {
                "titre" : "Filet de boeuf aux herbes",
                "ingredients": "Accompagné de sa ribambelle de légumes",
                "prix" : "40€"
            }); %>
            
            <%- include("../composants/plat.html", {
                "titre" : "Parmentier de queue de boeuf",
                "ingredients": "À la truffe noire sur sa purée de panais",
                "prix" : "35€"
            }); %>
            
            <%- include("../composants/plat.html", {
                "titre" : "Filet de turbot",
                "ingredients": "Aux agrumes",
                "prix" : "44€"
            }); %>
        </section>
        <section>
            <h2>Desserts</h2>
            
            <%- include("../composants/plat.html", {
                "titre" : "Paris-Brest",
                "ingredients": "Revisité",
                "prix" : "18€"
            }); %>
            <%- include("../composants/plat.html", {
                "titre" : "Macaron au chocolat d'exception ",
                "ingredients": "Et glace à la vanille de Madagascar",
                "prix" : "22€"
            }); %>
            <%- include("../composants/plat.html", {
                "titre" : "Mousse au chocolat ",
                "ingredients": "Au piment d'Espelette et à la truffe noire",
                "prix" : "23€"
            }); %>


        </section>
        <%- include('../composants/bouton.html', {texte:"Commander"});  %>
    </main>
    <%- include("../composants/footer.html"); %>
</body>
</html>







































